@page
@model Dluhy6_0.Pages.CreateGroupModel
@{
}
<head>
    <link rel="stylesheet" href="./css/login.css"
</head>
<div class="links-wrapper">
    <ul class="nav-links">
        <li><a class="sign-in" asp-page="/Transactions">Tranactions</a></li>
        <li><a class="register" asp-page="/CreateGroup">Create Group</a></li>
        <li><a class="register" asp-page="/GroupTransactions">Group Transactions</a></li>
    </ul>
</div>
<h1>Create Group</h1>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}

<form method="post">
    <div class="form-group">
        <label for="groupName">Group Name:</label>
        <input type="text" class="form-control" id="groupName" name="GroupName" required />
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="GroupDescription" name="GroupDescription" required />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>