@page
@model Dluhy6_0.Pages.CreateGroupModel
@{
}
<head>
    <link rel="stylesheet" href="./css/main.css">
</head>
<div class="links-wrapper">
    <ul class="nav-links">
        <li><a class="sign-in" asp-page="/Transactions">Tranactions</a></li>
        <li><a class="register" asp-page="/CreateGroup">Create Group</a></li>
        <li><a class="register" asp-page="/GroupTransactions">Group Transactions</a></li>
    </ul>
</div>
<h1>Create Group</h1>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
  <main class="groups-main">
            <form class="group-wrapper" method="post">
                <div class="group-form">
                    <label for="groupName">Group Name:</label>
                    <input class="name-input" type="text" id="groupName" name="GroupName" required />
                    <label for="description">Description:</label>
                    <input class="desc-input" type="text" id="GroupDescription" name="GroupDescription" required />
                </div>
            
                <button type="submit" class="group-create-btn">Create</button>
            </form>
        </main>

        <footer id="footer" class="footer-wrapper">
            <div class="footer">
                <p>Copyright © 2023 Vojtisek a Misa</p>
            </div>
        </footer>