@page
@model Dluhy6_0.Pages.loginModel
@{
    ViewData["Title"] = "login";
}
<head>
    <link rel="stylesheet" href="./css/login.css"
</head>
@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<body>
    <div class="links-wrapper">
        <ul class="nav-links">
            <li><a class="sign-in" asp-page="/login">Sign In</a></li>
            <li><a class="register" asp-page="/Register">Register</a></li>
        </ul>
    </div>
    <header class="logo-wrapper">
        <img class="logo" src="./Images/figma.png" alt="">
        </header>

    <main class="account-page">
        <div class="login">
            <form method="post" method="post">
                <h1 class="sign-header">sign in</h1>

                <div class="user-pass-container">
                    <div class="username-container">
                        <label class="label" for="username">Username</label>
                        <input type="text"placeholder="Enter your username" type="text" id="username" name="username" required>
                    </div>

                    <div class="password-container">
                        <label class="label" for="password">Password</label>
                        <input type="password" placeholder="Enter your password" type="password" id="password" name="password" required>
                    </div>
                </div>

                <button type="submit" class="login-button">sign in</button>
            </form>
        </div>
    </main>
</body>
<footer class="footer-wrapper">
    <div class="footer">
        <p>Copyright © 2023 Vojtisek a Misa</p>
    </div>
</footer>
@*<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="Username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>*@