@page
@model Dluhy6_0.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
    dynamic ViewBag = ViewData["ViewBag"];
}

@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }

    </div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@ViewData["SuccessMessage"]</div>
}

<head>
    <link rel="stylesheet" href="./css/Register.css"
</head>
<body>
    <header class="logo-wrapper">
        <img class="logo" src="./Images/figma.png" alt="">
    </header>
    <div class="links-wrapper">
        <ul class="nav-links">
            <li><a class="sign-in" asp-page="/login">Sign In</a></li>
            <li><a class="register" asp-page="/Register">Register</a></li>
        </ul>
    </div>



    <main class="account-page">
        <div class="login">
            <form method="post">
                <h1 class="register-header">register</h1>

                <div class="user-pass-container">
                    <div class="username-container">
                        <label class="label" for="Username">Username</label>
                        <input placeholder="Enter your username" type="text" id="Username" name="Username">
                    </div>

                    <div class="password-container">
                        <label class="label" for="Password">Password</label>
                        <input placeholder="Enter your password" type="password" id="Password" name="Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="password-conf-container">
                        <label class="label" for="ConfirmPassword">Confirm your password</label>
                        <input placeholder="Enter your password" type="password" id="ConfirmPassword" name="ConfirmPassword" asp-for="ConfirmPassword">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>



                </div>

                <button type="submit" class="login-button">sign in</button>
            </form>
        </div>
    </main>
    <footer class="footer-wrapper">
        <div class="footer">
            <p>Copyright © 2023 Vojtisek a Misa</p>
        </div>
    </footer>
</body>
