@page
@model Dluhy6_0.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
<head>
    <link rel="stylesheet" href="./css/Register.css"
</head>
<body>
    <div class="links-wrapper">
        <ul class="nav-links">
            <li><a class="sign-in" asp-page="/login">Sign In</a></li>
            <li><a class="register" asp-page="/Register">Register</a></li>
        </ul>
    </div>
    <header class="logo-wrapper">
        <img class="logo" src="./Images/figma.png" alt="">
    </header>


    <main class="account-page">
        <div class="login">
            <form method="post">
                <h1 class="register-header">register</h1>

                <div class="user-pass-container">
                    <div class="username-container">
                        <label class="label" for="username">Username</label>
                        <input placeholder="Enter your username" type="text" id="username" name="username">
                    </div>

                    <div class="password-container">
                        <label class="label" for="password">Password</label>
                        <input placeholder="Enter your password" type="text" id="password" name="password">
                    </div>

                    <div class="password-conf-container">
                        <label class="label" for="password-conf">Confirm your password</label>
                        <input placeholder="Enter your password" type="text" id="password-conf" name="password-conf">
                    </div>


                </div>

                <button type="submit" class="login-button">sign in</button>
            </form>
        </div>
    </main>
</body>